<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <title>Login - RR Imagem</title>
</head>
<body>
    <div class="login-container">
        <img src="/public/img/logo_clinic2.png" alt="Logo RR Imagem" id="clinicLogo" class="logo-image">
        <h2 id="clinicName">Login - RR Imagem</h2>
        <!-- Adicione o restante do formulário específico da clínica 2 aqui... -->
    </div>

    <script src="/public/app.js"></script>
</body>
</html>
